[submodule "POS-3-DEA"]
	path = POS-3-DEA
	url = https://github.com/LamaMiners/POS-3-DEA
[submodule "POS-3-DjikstraGraphical"]
	path = POS-3-DjikstraGraphical
	url = https://github.com/LamaMiners/POS-3-DjikstraGraphical
[submodule "POS-3-DjikstraKonsole"]
	path = POS-3-DjikstraKonsole
	url = https://github.com/LamaMiners/POS-3-DjikstraKonsole
